{{#if resume.work.length}}
<section id="experience" class="experience">
  {{#each resume.work}}
  <section class="item">
    {{#if @first}}
    <h2>Professional Experience</h2>
    {{/if}}
    <header>
      <div class="subhead">
      <h3 class="position">
        <span class="title">{{position}},</span>
        {{#if url}}
        <span class="name"><a href="{{url}}" target="external">{{name}}</a></span>
        {{else}}
        <span class="name">{{name}}</span>
        {{/if}}
      </h3>
      {{#if startDate}}
      <small class="dates">{{date startDate}}
      {{/if}}
      {{#if endDate}}
       - {{date endDate}}</small>
      {{else}}
       - Present</small>
      {{/if}}
      </div>
    </header>
    {{#if summary}}
    <div class="summary">{{paragraphSplit summary}}</div>
    {{/if}}
    {{#if highlights.length}}
    <ul class="highlights">
      {{#each highlights}}
      <li>{{{.}}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </section>
  {{/each}}
</section>
{{/if}}
